@*@{
        ViewBag.Title = "OrderDetails";
    }*@


@*the order page is essentially a LIST, so we can loop through by index just like we can for any other list or array*@

<br /><br />
<table class="table">

    <tr>
        <th>Customer ID</th>
        <th>Order ID</th>
        <th>Order Date</th>
    </tr>
    @if (ViewBag.CustomerOrders != null)
    {


        foreach (var o in ViewBag.CustomerOrders)  //declaring O as a temporary var here makes a generic object.
                                                   //now can use it with .notation   o.
                                                   //the loop will print the results for each o (temporary variable declared just for this purpose)

        {

            <tr>
                <td>@o.CustomerID</td>
                <td>@o.OrderID</td>  @*this pulls the specific items from the order results*@
                <td>@o.OrderDate</td>

            </tr>
        }
    }
</table>
